@mixin flex-column {
  display: flex;
  flex-direction: column;
}
$dialogMenu: 200px;
.chat {
  padding: 20px;
  .wrap {
    display: flex;
  }
  &-contacts {
    @include flex-column;
    &__search {

    }
    &-list {
      @include flex-column;
      &__dialog {
        width: $dialogMenu;

      }
    }
  }
  &-dialog {

  }
}