$paddingCell: 5px;
$borderColor: rgba(0,0,0,.3);

.v {
  &-table {
    margin: 10px;
    &-header {
      &-row {
        border: 1px solid $borderColor;
        &-cell {
          padding: $paddingCell;
        }
      }
    }
    &-body {
      &-row {
        border: 1px solid $borderColor;
        cursor: pointer;
        transition: .2s;
        p {
          display: flex;
        }
        &-cell {
          padding: $paddingCell;
          &__checkbox {
            label {
              display: block;
              width: 100%;
              height: 100%;
            }
          }
        }
        &-paragraph {
          display: flex;
          &:not(:last-child) {
            padding-bottom: 5px;
            border-bottom: 1px solid rgba(0,0,0,.1);
            margin-bottom: 5px;
            span {
              &:first-child {
                width: 150px;
              }
              &:last-child {
                width: 150px;
              }
            }
          }

        }
        &--child {
          max-height: 300px;
          ul {
            display: flex;
            display: inline-flex;
            flex-direction: column;
          }
        }
        &:hover {
          background-color: rgba(0,0,0,.1);
        }
        &--selected {
          background-color: rgba(45, 65, 250, 0.752);
          color: #fff;
          &:hover {
            background-color: rgba(45, 65, 250, 0.812);
            //color: rgb(256,256,256);
          }
        }

      }
    }
    &-wrap {
      border: 1px solid $borderColor;
      border-collapse: collapse;
    }
    &-actions {
      //display: flex;
      button {
        &:not(:last-child) {
          margin-right: 5px;
        }
      }
    }
    &-panel {
      display: flex;
      padding: 5px 0;
      background-color: rgba(0,0,0,.1);
      > button, div {
        &:not(:last-child) {
          margin-right: 5px;
        }
      }
    }
  }
}