$paddingCell: 5px;
$borderColor: rgba(0,0,0,.3);

.v {
  &-table {
    margin: 10px;
    &-header {
      &-row {
        border: 1px solid $borderColor;
        &-cell {
          padding: $paddingCell;
        }
      }
    }
    &-body {
      &-row {
        border: 1px solid $borderColor;
        cursor: pointer;
        transition: .2s;
        p {
          display: flex;
        }
        &-cell {
          padding: $paddingCell;
        }
        &-paragraph {
          display: flex;
          &:not(:last-child) {
            padding-bottom: 5px;
            border-bottom: 1px solid rgba(0,0,0,.1);
            margin-bottom: 5px;
            span {
              &:first-child {
                width: 150px;
              }
              &:last-child {
                width: 150px;
              }
            }
          }

        }
        &:hover {
          background-color: rgba(0,0,0,.1);
        }
        &--child {
          max-height: 300px;
          ul {
            display: flex;
            display: inline-flex;
            flex-direction: column;
          }
        }
      }
    }
    &-wrap {
      border: 1px solid $borderColor;
      border-collapse: collapse;
    }
    &-actions {
      //display: flex;
      button {
        &:not(:last-child) {
          margin-right: 5px;
        }
      }
    }
    &-button {
      border: 1px solid $borderColor;
      width: 30px;
      height: 30px;
      img {
        width: 100%;
        padding: 5px;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}